@model Szakdoli.Models.TermekTipus

@{
    ViewData["Title"] = "Törlés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Biztosan törölni akarja ?</h3>
<div>
    <h4>TermekTipus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipusNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipusNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suly)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TipusID" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Vissza a lista nézethez</a>
    </form>
</div>
