@model Szakdoli.ViewModels.DeleteModel

@{
    ViewData["Title"] = "Törlés";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Törlés</h1>

<h3>Biztos törölni akarja?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeljesNev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeljesNev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Szerepkor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Szerepkor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-action="Index">Vissza a lista nézethez</a>
    </form>
</div>
